/* Luigi changes */
#site-navigation {
  z-index: 1000;
}

#site-navigation a {
  display: block;
  height: auto;
  vertical-align: middle;
}

#site-navigation a > img {
    margin: auto;
    vertical-align: middle;
}

#site-navigation a:hover {
  background-color: #ddd;
  color: black;
}

#site-navigation a.active {
  background-color: #4CAF50;
  color: white;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}

/* Marc changes */
body, button, input, select, textarea {
  font-size: 14px;
}

.inline, nav > div > div > [class*='menu-'] {
  display: inline-block;
}

.main-navigation ul > li.menu-item-has-children > a, .main-navigation ul > li.menu-item-has-children.focus > a, .main-navigation ul > li.page_item_has_children > a, .main-navigation ul > li.page_item_has_children.focus > a {
  color: #0072bc;
}

.main-navigation ul > li.menu-item-has-children:hover > a, .main-navigation ul > li.page_item_has_children > a:hover {
  color: #777;
}

.top_header {
  background-color: #777;
}

.main_header {
  background-color: #f3f3f3;
}

.col-width { 
  max-width: 1600px;
  padding: 0px;
}

ol[type=a] {
  list-style: lower-alpha;
}

#content {
    margin-top: 50px;
}

.main-navigation ul ul.sub-menu {
    max-height: 400px;
    overflow-y: auto;
}

#site-navigation .inline a:hover {
    background: transparent;
}
/* Luigi Changes */
.wp-block-table {max-width: 1000px; width: 100%; border: none 0px RED;
overflow-x: scroll; overflow-y: auto;
}
.wp-block-table{height: 380px; 
}
.wp-block-table > table {width: 1200px; height: 200px; 
overflow: auto;
}
.wp-block-table table tr th:nth-child(3),
.wp-block-table table tr td:nth-child(3) { width: 15% 
}
.wp-block-table table tr th:nth-child(4),
.wp-block-table table tr td:nth-child(4) { width: 15% 
}
.wp-block-table table tr th:nth-child(5),
.wp-block-table table tr td:nth-child(5) { width: 15% 
}