/* Luigi changes */
#site-navigation {
  z-index: 1000;
}

#site-navigation a {
  display: block;
  height: auto;
  vertical-align: middle;
}

#site-navigation a > img {
  margin: auto;
  vertical-align: middle;
}

#site-navigation a {
  color: #0072bc;
}

#site-navigation a:hover {
  background-color: #ddd;
  color: black;
}

#site-navigation a.active {
  background-color: #4CAF50;
  color: white;
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}

/* Marc changes */
body, button, input, select, textarea {
  font-size: 14px;
}

.inline, nav > div > div > [class*='menu-'] {
  display: inline-block;
}

.main-navigation ul > li.menu-item-has-children > a, .main-navigation ul > li.menu-item-has-children.focus > a, .main-navigation ul > li.page_item_has_children > a, .main-navigation ul > li.page_item_has_children.focus > a {
  color: #0072bc;
}

.main-navigation ul > li.menu-item-has-children:hover > a, .main-navigation ul > li.page_item_has_children > a:hover {
  color: #777;
}

.top_header {
  background-color: #777;
}

.main_header {
  background-color: #f3f3f3;
}

.col-width { 
  max-width: 1600px;
  padding: 0px;
}

ol[type=a] {
  list-style: lower-alpha;
}

#content {
  margin-top: 80px;
}

.page-template-default #content {
  margin-top: 50px;
}

.main-navigation ul ul.sub-menu {
  max-height: 400px;
  overflow-y: auto;
}

#site-navigation .inline a:hover {
  background: transparent;
}

#site-navigation .sub-menu a {
  color: black;
}

#site-navigation .top_header a {
  color: white;
}

#site-navigation .top_header .current_page_item a,
#site-navigation .top_header .focus a,
#site-navigation .top_header a:hover {
  color: black;
}

#site-navigation .top_header .current_page_item a:hover,
#site-navigation .top_header .focus a:hover {
  color: #0072bc;
}

.wp-block-table table tr th,
.wp-block-table table tr td {
  border: 1px solid black;
  padding: 10px;
  border-collapse: collapse;
}

.wp-block-table table tr th {
  text-align: center;
}

.wp-block-table table {border-collapse: collapse;border: 3px solid black;}

.site-header {
  padding: 0.5em;
}

.home .site-header {
  padding: 7em 0 0;
}

.home .site-main {
  margin: 0;
}

article {
  max-width: 1170px;
  width: 100%;
  display: block;
  margin: 0 auto !important;
}

/* vis = 0 */

#comments, .byline {
  display: none !important;
}